body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#startScreen {
  background-image: url(images/initialscreen.webp);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

#startScreen > p {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.logoGame {
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid rgb(194, 22, 22);
}

#startButton {
  width: 200px;
  height: 50px;
  justify-items: center;
  font-size: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  line-height: 10px;
  background-color: rgb(194, 22, 22);
  border: 2px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

#gameContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 100vh;
}

#gameScreen {
  display: none;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(images/alternative\ background.webp);
  background-size: cover;
  background-position: center;
}

#boardScreen {
  position: relative;
  background-image: url(images/background.jpg);
  background-size: cover;
  width: 780px;
  height: 650px;
  border: 1px solid white;
  left: 500px;
}

.deck1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url(images/Back-DG-EN-VG.webp);
  background-size: cover;
  width: 100px;
  height: 150px;

  border: 2px solid white;
}

.deck1 > p {
  color: white;
}

.deck2 {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(images/Back-DG-EN-VG.webp);
  background-size: cover;
  width: 100px;
  height: 150px;
  border: 2px solid white;
}

.deck2 > p {
  color: white;
}

.cardLook {
  width: 100px;
  height: 150px;
  color: black;
  background-size: cover;
  justify-content: center;
  align-content: flex-end;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.selected {
  border: 9px solid red;
}

#handPlayer1 {
  width: 400px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 190px;
  display: flex;
  justify-content: space-between;
}

#handPlayer2 {
  width: 400px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 190px;
  display: flex;
  justify-content: space-between;
}

#playedCardDiv1 {
  display: flex;

  width: 400px;
  height: 150px;
  position: absolute;
  bottom: 160px;
  left: 190px;
  justify-content: center;
}

#playedCardDiv2 {
  display: flex;

  width: 400px;
  height: 150px;
  position: absolute;
  top: 160px;
  left: 190px;
  justify-content: center;
}

#playCardButton {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 150px;

  background-color: brown;
  font-size: 20px;
  font-weight: bold;
}

#endGame {
  display: none;
  background-image: url(images/initialscreen.webp);
  background-size: cover;

  height: 100vh;
  width: 100vh;
  margin: 0;
}
#restartButton {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 350px;

  background-color: brown;
  font-size: 20px;
  font-weight: bold;
}
.endingImg {
  width: 750px;
  height: 600px;
}
